<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\ElasticsuiteCore\Index\DataSourceResolver">
        <arguments>
            <argument name="datasources" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="url" xsi:type="object">Web200\ElasticsuiteAutocomplete\Model\Indexer\Product\Fulltext\Datasource\Url</item>
                    <item name="configurable_price" xsi:type="object">Web200\ElasticsuiteAutocomplete\Model\Indexer\Product\Fulltext\Datasource\ConfigurablePrice</item>
                    <item name="additional_attributes" xsi:type="object">Web200\ElasticsuiteAutocomplete\Model\Indexer\Product\Fulltext\Datasource\AdditionalAttributes</item>
                </item>
                <item name="catalog_category" xsi:type="array">
                    <item name="url" xsi:type="object">Web200\ElasticsuiteAutocomplete\Model\Indexer\Category\Fulltext\Datasource\Url</item>
                    <item name="breadcrumbs" xsi:type="object">Web200\ElasticsuiteAutocomplete\Model\Indexer\Category\Fulltext\Datasource\Breadcrumbs</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Improve search with prefix and fuzziness -->
    <type name="Smile\ElasticsuiteCore\Search\Request\Query\Fulltext\QueryBuilder">
        <plugin name="improve_search" type="Web200\ElasticsuiteAutocomplete\Plugin\ImproveSearch"/>
    </type>
    <type name="Web200\ElasticsuiteAutocomplete\Plugin\ImproveSearch">
        <arguments>
            <argument name="fieldFilters" xsi:type="array">
                <item name="searchableFieldFilter" xsi:type="object">Smile\ElasticsuiteCore\Search\Request\Query\Fulltext\SearchableFieldFilter</item>
                <item name="fuzzyFieldFilter"  xsi:type="object">Smile\ElasticsuiteCore\Search\Request\Query\Fulltext\FuzzyFieldFilter</item>
            </argument>
        </arguments>
    </type>
</config>
